pytest >= 6.0.1
allure-pytest>= 2.8.17
allure-python-commons>=2.8.17
pytest-rerunfailures>=9.0
pytest-logger>=0.5.1
Faker == 4.1.1
pytest-repeat == 0.8.0
pdfminer == 20191125
requests == 2.26.0
jsonpath-rw == 1.4.0
PyHamcrest == 1.9.0